.env
__pycache__/
*.pyc
*.pyo
*.pyd
.git
.gitignore
.github
inputs/*
outputs/*
uploads/*
ffmpeg_trace.log

# Comment the line below if you want to bundle model weights directly inside the image
models/*.pt
